@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap');

$black: #3C3D3C;
$containerHeight: calc(100vh - 4rem);
$defaultBackgroundColor: #54BAE2;
$friendBackgroundColor: #cff0bf;
$lexend: 'Lexend', sans-serif;
$onlineStatusColor: #73BC55;
$pink: #F785AA;
$white: #EDF9FB;
